* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: var(--dark-text-color);
}

:root {
    --nav-color: #333a56;
    --aside-color: #52658f;
    --main-color: #e8e8e8;
    --light-text-color: #fff;
    --dark-text-color: #222639;
}

.dark-theme {
    --nav-color: #333a56;
    --aside-color: #52658f;
    --main-color: #121212;
    --light-text-color: #fff;
    --dark-text-color: #fff;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 220px 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 10fr 0.5fr; 
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "aside main main main"
    "footer footer footer footer";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: header;
    padding: 8px 0;
    
}

#medaillon {
    border: 4px solid transparent;
    border-radius: 50%;
}

#medaillon:hover {
    border: 4px solid var(--aside-color);
}

.header-video {
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

h1 a {
    font-size: 42px;
    background-color: #333a56aa;
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nav;
    background-color: #333a56;
}

nav ul {
    list-style-type: none;
}

.navbar {
    display: flex;
    flex-basis: 80%;
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
    
}

.sous {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #1d2731;
    padding: 8px 16px;
}

.sous li {
    margin-bottom: 8px;
}

ul li:hover .sous {
    display: block;
}

.deroulant > a::after {
    content: "▼";
    font-size: 17px;
    margin-left: 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    border: 1px solid transparent;
}

nav a:hover {
    border: 1px solid gold;
    border-radius: 4px;
    color: gold;
}

#icon {
    width: 30px;
    background-color: #e8e8e8;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

#icon:hover {
    background-color: gold;
}

main {
    
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main;
    background-color: var(--main-color);
    color: var(--dark-text-color);
}

aside {
    display: flex;
    justify-content: center;
    grid-area: aside;
    background-color: #52658f;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: #333a56;
    padding: 8px 0;
    color: #fff;
}

@media screen and (max-width: 900px) {
    body {
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 6fr 0.5fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside aside"
        "main main"
        "footer footer"
        ;
    }
}

@media screen and (max-width: 650px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 6fr 0.5fr;
        grid-template-areas: 
        "nav"
        "aside"
        "main"
        "footer"
        ;
    }
    header {
        display: none;
    }
}