/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');
/* RESET CSS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root {
    --content-bg-clr: #e1e1e1;
    --content-txt-clr: #000;
}

.dark-theme {
    --content-bg-clr: #1d2a35;
    --content-txt-clr: #e1e1e1;
}


html {
    scroll-padding-top: 48px;
}

body {
    font-family: 'Red Hat Mono', monospace;
}
.container {
   
    min-height: 100vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 200px 32px 1fr 30px;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "main main"
    "footer footer";
}

/* START OF HEADER */

header {
    /* background-color: lightblue; */
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
}

#medaillon {
    height: 170px;
    border-radius: 50%;
    padding: 10px;
    
}

header video {
    /* width: 100%; */
    position: absolute;
    background-size:cover;
    top: 0;
    left: 0;
    z-index: -1;
}


header h1 {
    /* font-family: 'Permanent Marker', cursive; */
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    font-size: 48px;
    margin-right: 60px;
    background-color: #15202b;
    padding: 5px 25px;
    border-radius: 20px;
    box-shadow: 0 0 4px white;
}

/* END OF HEADER */
/*
/* ******************************************************************* */
/*
/* START OF NAVIGATION BAR */

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #0d1721;
    position: sticky;
    top: 0;
    grid-area: navbar;
}

.nav-links {
    display: flex;
    list-style-type: none;
    /* gap: 28px; */
    padding-right: 50px;
    /* border: 1px solid yellow; */
}

.nav-links li {
    display: flex;
    align-items: center;

    /* border: 1px solid red; */
}

.nav-links li:hover {
    background-color:#38444d;
}

.nav-links a {
    height: 100%;
    padding: 2px 18px;
    /* border: 1px solid red; */
    text-decoration: none;
    color: #f1f1f1;
    font-size: 22px;
    font-weight: 800;
    /* border: 1px solid red; */
}

.navbar a:hover {
    color: white;
}


#icon {
    position: absolute;
    top: 2px;
    width: 26px;
    cursor: pointer;
    margin-right: 12px;
}


#hamburger-icon {
    cursor: pointer;
    margin-left: 15px;
    position: absolute;
    left: 0;
    transition: .5s;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f1f1f1;
    margin: 4px 0;
    transition: .7s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 4px);
    transform: rotate(-45deg) translate(-9px, 4px);
    background-color: goldenrod;
  }
  
  .change .bar2 {
      opacity: 0;
      background-color: goldenrod;
}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -4px);
    background-color: goldenrod;
  }

  .courses-list {
      display: none;
      position: absolute;
      top: 32px;
      background-color: #0d1721;
      box-shadow: 0px 0px 4px #ccc;
  }

 nav > ul li:hover .courses-list{
      display: block;
  }


/* END OF NAVIGATION BAR */
/*
/* ******************************************************************* */
/*
/* START OF SIDEBAR NAVIGATION */

.sidebar {
    /* background-color: lightgreen;
    overflow-y: scroll;
    position: sticky;
    top: 30px;
    grid-area: sidebar;
    height: calc(100vh - 30px);
    padding-bottom: 220px; */

    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #15202b;
    overflow-y: scroll;
    transition: .5s;
}

.sidebar ul {
    list-style-type: none;
    padding-bottom: 200px;
    
}

.sidebar a {
    padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  color: #ccc;
  display: block;
}

.sidebar a:hover {
    background-color:#38444d;
}

/* END OF SIDEBAR NAVIGATION */
/* ******************************************************************* */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #0d1721;
    color: white;
}

main {
    grid-area: main;
    display: flex;
    /* border: 1px solid red; */
    height: 100%;
}

details {
    width: 80%;
    margin: .5em auto;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    transition: all .5s ease;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    /* background-color: lightgreen; */
}

details[open] {
    padding: .5em;
}

.content {
    
    margin: 0 auto;
    /* padding: 2em; */
    background-color: var(--content-bg-clr);
    color: var(--content-txt-clr);
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid gold; */
    /* margin: 1em auto; */
}

/* p {
    max-width: 600px;
} */

@media screen and (max-width: 900px){
    
    .nav-links a{
        font-size: 20px;
        padding: 2px 12px;
    }
    
    header h1 {
        font-size: 36px;
    }

    #hamburger-icon {
        background-color: #0d1721;
    }

    details {
        width: 90%;
    }

}

@media screen and (max-width: 523px) {

    .container {
        grid-template-rows: 32px 1fr 30px;
        grid-template-areas:
        "navbar navbar"
        "main main"
        "footer footer" ;
    }

    header {
        display: none;
    }

    .nav-links a {
        font-size: 18px;
        margin-top: 4px;
    }

    details {
        width: 95%;
    }
}

@media screen and (max-width: 420px){
    
    #icon {
        margin-right: 6px;
    }

    .nav-links{
        margin-right: 4px;
    }

    .nav-links a {
        font-size: 14px;
        padding: 2px 4px;
        margin-top: 8px;
    }

    footer {
        font-size: 12px;
    }

}
